.navbar {
    background-image: linear-gradient(#432C7A, #FF8FB1);
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px;
    margin: 4px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


