.dashboard__wrapper {
    display: flex;
    border: 1px solid red;
    height: 100%;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 64px;
}

.dashboard__form {
    border: 1px solid blue;
    background-color: #F6F6F6;
    padding: 42px;
    align-self: center;
}

.dashboard__form input {
    display: block;
}

.dashboard__form__input__component {

}

/*.dashboard__form__input__label {*/
/*    font-family: Roboto, Helvetica, Arial, sans-serif;*/
/*    line-height: 1.4375em;*/
/*    transform-origin: left top;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    max-width: calc(133% - 32px);*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    transform: translate(14px, -9px) scale(0.75);*/
/*    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;*/
/*    z-index: 1;*/
/*    pointer-events: auto;*/
/*    user-select: none;*/
/*}*/

.dashboard__form__label {
    text-align: center;
    margin-bottom: 24px;
}

.dashboard__form input {
    display: block;
    width: 250px;
    box-shadow: 0 0 20px -10px;
    margin: 12px 6px;
}

.dashboard__form button {
    width: 250px;
    padding: 8px;
    margin: 24px 6px;
    color: white;
    background-color: #432C7A;
    border-radius: 4px;
    text-transform: uppercase;
}

.dashboard__column-one {

}

.dashboard__column-two {

}

.dashboard__column {
    display: flex;
}
