@import 'src/styles/_base.scss';

.form {
    margin: 0 auto;
    max-width: 600px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 0 $space-sm;

    @include media('<tablet') {
        flex-flow: row wrap;
    }
}

.textField {
    width: 100%;
}

.submitWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.submitError {
    width: 100%;
    color: $error-color;
}

.submitButton {
    width: auto;
}
