// Colors
$primary-color: #432c7a;
$secondary-color: #f7a4a4;

$text-color: #333;
$error-color: #d32f2f;

// Borders
$border-radius: 4px;
$border-color: #888888; // c0c0c0?

// Spacing
$space-xs: 4px;
$space-s: 8px;
$space-sm: 12px;
$space-m: 16px;
$space-ml: 24px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;

// Font sizes
// TODO: add other typograpfy
$body1-font-size: 1rem;
$body2-font-size: 0.75rem;
$button-font-size: 0.875rem;
$caption-font-size: 0.75rem;
$subtitle1-font-size: 1rem;
$subtitle2-font-size: 0.875rem;
$h1-font-size: 6rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3rem;
$h4-font-size: 2.125rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;

// include-media breakpoints
$breakpoints: (
    phone: 320px,
    tablet: 768px,
    desktop: 1024px,
    medium: 768px,
    small: 500px,
);
